POSTGRES_DB=gridsense_billing
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password

MONGO_INITDB_ROOT_USERNAME=your_mongo_user
MONGO_INITDB_ROOT_PASSWORD=your_mongo_password
MONGO_DB=gridsense_catalog

NEO4J_USER=your_neo4j_user
NEO4J_PASSWORD=your_neo4j_password

REDIS_PASSWORD=your_redis_password

CASSANDRA_KEYSPACE=gridsense

MONGO_URI=your_mongo_connection_string

